<form action="/create" method="POST">
  <h3 class="welcome">Create a note</h3>
  <div class="create-note">
    <div class="input-field">
      <input type="text" name="text" placeholder="Make a note">
    </div>
    <button type="submit" class="btn">Create</button>
  </div>
</form>
