<form action="/" method="POST">
  <h3 class="welcome">Introduce yourselft to a system</h3>
  <div class="credentials">
    <input type="text" name="username" id="username" placeholder="Enter your login" required>
    <input type="password" name="password" placeholder="Enter your password" required>
    <button type="submit" class="btn">Log In</button>
    <div class="sign-in">
      <p>Need account? </p>
      <a href="/reg">Sign In</a>
    </div>
  </div>
</form>