<h3 class="welcome">Notes</h3>
{{#if notes.length}}
<ul>
  {{#each notes}}
  <li class="note-item">
    <form action="/complete" method="POST">
      <label>
        {{#if completed}}
        <div>
          <input type="checkbox" onclick="return false;" name="completed" checked>
          <span>{{ text }}</span>
        </div>
        <button class="btn" type="submit">Reset</button>
        {{else}}
        <div>
          <input type="checkbox" onclick="return false;" name="completed">
          <span>{{ text }}</span>
        </div>
        <button class="btn" type="submit">Complete</button>
        {{/if}}
        <input type="hidden" value="{{_id}}" name="id">
      </label>
    </form>
    <form class="delbtn" action="/delete" method="POST">
      <label class="delete"></label>
      <input id="del" type="hidden" value="{{_id}}" name="id">
      <button class="btn" type="submit">Delete</button>
      </label>
    </form>

  </li>
  {{/each}}
</ul>
{{else}}
<div class="create-notes">
  <p>You have no notes</p>
  <a href="/create">Create a note</a>
</div>
{{/if}}