<form action="/register" method="POST">
  <h3 class="welcome">Create an account</h3>
  <div class="credentials">
    <div class="input-field">
      <input type="text" name="username" id="username" placeholder="Enter your login" required>
      <input type="password" name="password" placeholder="Enter your password" required>
    </div>
    <button type="submit" class="btn">Sign In</button>
  </div>
</form>