<div class="settings-container">
  <div class="settings__left">
    <form action="/changepassword" method="POST">
      <h5>Change your password</h5>
      <div class="input-field">
        <input type="password" name="oldpassword" placeholder="Old password" required>
        <input type="password" name="newpassword" placeholder="New password" required>
      </div>
      <button type="submit" class="btn">Change</button>
    </form>
  </div>
  <div class="settings__right">
    <h5>Delete account</h5>
    <form action="/deleteuser" method="POST">
      <label class="delete">
        <button class="btn" type="submit">Delete account</button>
      </label>
    </form>
    </div>
</div>