<nav class="navbar">
  <div class="nav-wrapper">
    <div class="navigation">
      <a href="/" class="logo">NotesApp</a>
      <ul class="right">
        {{#if isLogged}}
        {{else}}
          {{#if isNotesActive}}
          <li class="active"><a href="/notes">Notes</a></li>
          {{else}}
          <li><a href="/notes">Notes</a></li>
          {{/if}}
          {{#if isCreateActive}}
          <li class="active"><a href="/create">Create</a></li>
          {{else}}
          <li><a href="/create">Create</a></li>
          {{/if}}
          {{#if isSettingsActive}}
          <li class="active"><a href="/settings">Settings</a></li>
          {{else}}
          <li><a href="/settings">Settings</a></li>
          {{/if}}
          <li>
            <form action="/logout" method="POST">
              <label>
                <button type="submit" class="btn">Sign Out</button>
              </label>
            </form>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>