body{
  background-color: #fafafa;
}

.credentials{
  margin: 30px auto;
  max-width: 35vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
}

.create-note{
  margin: 30px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
}

.settings-container{
  margin: 30px auto;
  max-width: 35vw;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px;
  box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
}

.settings-container > div{
  margin: 0 10px;
}

.navbar {
  height: 75px;
  background-image: linear-gradient(to right, #141e30, #243b55);
}

.logo{
    color: #fff;
    display: inline-block;
    font-size: 2.5rem;
    padding: 0;
}

.welcome{
  text-align: center;
  margin-bottom: 30px;
}

.delbtn{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.5rem;
}

input{
  border-bottom: 1px solid #461c1c !important;
}

.input-field{
  width: 100%;
}

button{
  min-width: 90px;
  border-radius: 5px !important;
  background-color: rgb(21, 21, 203) !important;
  margin: 5px;

}

nav ul {
  text-align: center;
}

nav li {
  min-width: 100px;
}

nav ul li.active,
nav ul a:hover {
  height: 75px;
  background-color: rgba(0,0,0,0.3);
}

.note-item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.note-item label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.5rem;
}

.settings__right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  width: 100%;
}

.navigation {
  margin: 0 70px;
}

.delete {
  padding: 0 !important;
}
